
body {
  height: 100%;
}
h3 {
  width: 517px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  text-align: center;
}
button {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
.max-standard {
  max-height: 3rem;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-template-rows: repeat(1, 60px);
  grid-gap: 10px;
}

.navigation-bar {
  width: 500px;
}

.container {
  position: absolute;
  left: 10px;
  padding: 10px;
  outline: 3px solid black;
  margin-bottom: 50px;
  width: 500px;
  height: 500px;
}